/* ===== RESET ===== */
/* Remove default spacing the browser adds */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== BODY ===== */ 
body { 
    background-color: #0a0a1a;
    color: #e0e0e0;
    font-family: 'Inter', Arial, sans-serif;
    line-height: 1.6;
}

/* By TAG - select All <nav> elements */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 20px 40px;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

nav.scrolled{
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0 4px 30px rgba(108, 99, 255, 0.5);
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav a {
    color: #9898b0;
    text-decoration: none;
    font-size: 14px;
    position: relative;
}

nav a:hover{
    color: #ffffff;
}

/* Animated underline */
nav a::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background: #6c63ff;
    transition: width 0.3s ease;
}

nav a:hover::after{
    width: 100%;
}

nav a.active {
    color: #6c63ff;
    font-weight: 600;
}

/* By CLASS - select All elements with class="logo" */
.logo {
    color: #6c63ff;
    font-size: 20px;
    font-weight: bold;
}


/* ===== HERO ===== */
#hero{
    padding: 150px 40px 80px;
    text-align: center;
}

#hero h1{
    font-size: 48px;
    margin-bottom: 26px;
    font-weight: 900;
    background: linear-gradient(135deg, #ffffff, #6c63ff, #a855f7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#hero p{
    color: #9898b0;
    font-size: 18px;
}

/* ===== Avatar ===== */
.avatar-container {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ===== Layer 1 ===== */
.avatar-container::before {
    content: '';
    position: absolute;
    inset: -4px;    
    border-radius: 50%;
    background: conic-gradient(from 0deg,
        #6c63ff,              /* Purple */
        #a855f7,              /* Violet */
        #06b6d4,              /* Cyan */
        #a855f7,              /* Violet */
        #6c63ff);
    animation: rotateGlow 4s linear infinite;
    z-index: 0;
}

/* ===== Layer 2 ===== */
.avatar-container::after {
    content: '';
    position: absolute;
    inset: 3px;
    border-radius: 50%;
    background: #0a0a1a;
    z-index: 1;
}

.avatar-container img {
    width: 147px;
    height: 147px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    z-index: 2;
    transition: transform 0.4s ease;
}

.avatar-container:hover img {
    transform: scale(1.08);
}

@keyframes rotateGlow {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* ===== ALL SECTIONS ===== */
section{
    padding: 80px 40px;
    max-width: 900px;
    margin: 0 auto;
}

/* ===== SECTION TITLES ===== */
h2 {
    font-size: 28px;
    margin-bottom: 24px;
    color: #ffffff;
}

/* ===== ABOUT ===== */
#about p{
    color: #9898b0; 
    margin-bottom: 16px;
    font-size: 16px;
}

/* ===== PROJECTS ===== */
#projects article{
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgb(255, 255, 255, 0.08);
    border-radius: 16px;
    padding: 24px;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#projects article:hover {
    transform: translateY(-8px);
    box-shadow: 0px 20px 40px rgba(108, 99, 255, 0.5);
}

#projects h3{
    font-size: 20px;
    margin-bottom: 8px;
    color: #ffffff;
}

#projects p{
    color:  #9898b0;
    font-size: 14px;
    margin-bottom: 12px;
}

#projects a {
    color: #6c63ff;;
}

#projects a:hover{
    color: #a855f7;
}

/* ===== SKILLS ===== */
.skill-category{
    margin-bottom: 36px;
}

.skill-category h3{
    font-size: 18px;
    color: #6c63ff;
    margin-bottom: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
}

.skill-item{
    margin-bottom: 16px;
}

.skill-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

.skill-name {
    font-size: 14px;
    font-weight: 500;
    color: #e0e0e0;
}

.skill-percent {
    font-size: 13px;
    font-weight: 700;
    color: #a9a6ee;
}

.skill-bar {
    width: 100%;
    height: 10px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.skill-fill {
    height: 100%;
    width: 0;
    border-radius: 10px;
    background: linear-gradient(90deg, #6c63ff, #a855f7);
    transition: width 1.2s cubic-bezier(0.22, 1, 0.36, 1);
    position: relative;
}

.skill-fill::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
        90deg,
        transparent 0%,
        rgba(255, 255, 255, 0.2) 50%,
        transparent 100%
    );
    animation: shimer 2s ease-in-out infinite;
}

@keyframes shimer {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%);}
}

/* ===== TIMELINE ===== */
#timeline {
    position: relative;
    padding: 80px 10px;
}

#timeline::before { 
    content: "";
    position: absolute;
    left: 50%;
    top: 100px;
    width:4px;
    height: calc(100% - 100px);
    background: linear-gradient(
        to bottom,
        #6c63ff,
        #a855f7
    );
    border-radius: 20px;
    transform: translateX(-50%);
}


.timeline-item {
    width: 50%;
    max-width: 450px;
    padding: 20px 40px;
    position: relative;
}

.timeline-item::before {
    content: "";
    position: absolute;
    top: 30px;
    width: 16px;
    height: 16px;
    background-color: #6c63ff;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 20px #6c63ff;
}

.left::before {
    right: -8px;
}

.right::before {
    left: -8px;
}

.left {
    left: 0;
}

.right {
    left: 50%;  
}

.timeline-content {
    background: rgba(255,255,255,0.05);

    border: 1px solid rgba(255,255,255,0.1);

    border-radius: 16px;

    padding: 20px;
    cursor: pointer;
}

.timeline-content h3 {
    color: #ac64f0
}

.timeline-content:hover {
    transform: translateY(-8px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 20px 40px rgba(108, 99, 255, 0.5);
}

.timeline-item.left {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 0.8s ease;
}

.timeline-item.right {
    opacity: 0;
    transform: translateX(100px);
    transition: all 0.8s ease;
}

.timeline-item.show { 
    opacity: 1;
    transform: translateX(0);
}

/* ===== CONTACT ===== */
#contact p{
    color: #9898b0;
    margin-bottom: 24px;
} 

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 500px;
}

label {
    color: #9898b0;
    font-size: 14px;
}

input, textarea {
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 8px;
    padding: 12px 16px;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    outline: none;
}

input:focus, textarea.focus {
    border-color: #6c63ff;
}

button{
    background: linear-gradient(135deg, #6c63ff, #a855f7); 
    color: white;
    border: none;
    border-radius: 8px;
    padding: 14px 24px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 4px 12px rgba(108, 99, 255, 0.3);
}

button:hover{
    transform: translateY(-3px);
    box-shadow: 0px 8px 30px rgba(108, 99, 255, 0.6);
}   

/* ===== BACK TO TOP ===== */
#backToTop{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    font-size: 20px;
    display: none;
    z-index: 200;
    padding: 0;
    cursor: pointer;
}

#backToTop:hover{
    transform: translateY(-3px);
}

/* ===== REVEAL ANIMATION ===== */
.reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.revealed {
    opacity: 1;
    transform: translateY(0);
}

/* ===== FOOTER ===== */
footer{
    text-align: center;
    padding: 40px;
    color: #9898b0;
    font-size: 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
}